.input {
    width: 200px;
    height: 30px;
    margin-bottom: 3px;
    padding-left: 8px;
    border-style: none;
    border-radius: 8px;
    outline: none;
}

.input-error {
    border: solid 2px red;
}

.red {
    color: red;
}